
.row
  .col-lg-6.col-lg-offset-3.col-md-8.col-md-offset-2.col-xs-10.col-xs-offset-1
    = simple_form_for @rsvp do |r|
      = r.input :friday_dinner
      = r.input :saturday_breakfast
      = r.input :wedding
      = r.input :sunday_breakfast

      = r.input :friday_camping
      = r.input :saturday_camping
